{% extends 'base.html' %}
{% load static %}

{% block title %} 소통실 {% endblock %}


{% block head %} {% endblock %}



{% block content %} 

<h1 class="has-text-link is-size-2 has-text-centered" style="margin-bottom: 50px; margin-top: 100px;">4050특별위원회 소통실</h1>

<!--tabs-->

<div class="columns is-vcentered">
     <div class="column is-2"></div>
     <div class="column is-8">

     <div class="tabs is-centered is-boxed is-small">
  <ul><li class="is-active">
      <a href="{% url 'community_page' %}">
        <span>전체</span>
      </a>
    </li>
  <li class="is-active">
      <a href="{% url 'community_announcement' %}">
        <span class="icon is-small"><i class="fas fa-bullhorn" aria-hidden="true"></i></span>
        <span>공지</span>
      </a>
    </li>
    <li class="is-active">
      <a href="{% url 'community_datecreated' %}">
        <span class="icon is-small"><i class="fas fa-calendar" aria-hidden="true"></i></span>
        <span>등록일</span>
      </a>
    </li>
    <li>
      <a href="{% url 'community_viewcounts' %}">
        <span class="icon is-small"><i class="fas fa-book" aria-hidden="true"></i></span>
        <span>조회수</span>
      </a>
    </li>
    <li>
      <a href="{% url 'community_comments' %}">
        <span class="icon is-small"><i class="fas fa-comments" aria-hidden="true"></i></span>
        <span>댓글</span>
      </a>
    </li>
    <li>
      <a href="{% url 'community_likes' %}">
        <span class="icon is-small"><i class="far fa-thumbs-up" aria-hidden="true"></i></span>
        <span>좋아요</span>
      </a>
    </li>
  </ul>
</div>

<!--tabs end -->


<!-- detail start --> 
<article class="media" style="padding-top:10px;">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{% static 'icons/icon_party.png' %}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{ community_post.writer }}</strong> 
        <span style="padding-left: 40px;"><small>{{ community_post.date_created }} 에 작성<small class="has-text-info" style="margin-left: 20px;"> {% if community_post.lapsed_time < 12 %} &#9;새글입니다{% else %}{% endif %}</small></small> </span>
        <br>
        <span><strong>{{ community_post.title }} </strong></span> <span class="icon is-small"> <i class="fas fa-microphone"></i> </span>
      </p>
      <textarea class="input">{{ community_post.content }}</textarea>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item" href="like/{{ community_post.id }}">
          <span class="icon is-small"><i class="fas fa-thumbs-up"></i></span>
        </a>
        <span>{{ community_post.like_counts }}</span>
        <a class="level-item" style="padding-left: 20px;" href="dislike/{{ community_post.id }}">
          <span class="icon is-small"><i class="fas fa-thumbs-down"></i></span>
        </a>
        <span>{{ community_post.dislike_counts }}</span>
        <a class="level-item" style="padding-left: 20px;">
          <span class="icon is-small"><i class="fas fa-comments"></i></span>
        </a>
        <span>{{ community_post.comment_counts }}</span>

        <a class="level-item" style="padding-left: 20px;">
          <span class="icon is-small"><i class="fas fa-book"></i></span>
        </a>
        <span>{{ community_post.post_views }}</span>
      </div>
      
    </nav>
  </div>
  
</article>

<!-- detail end --> 

<!-- comments start --> 


{% if comments %}
{% for comment in comments %}
<article class="media" style="padding-top:10px;">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{% static 'icons/icon_user.png' %}">
    </p>
  </figure>
  <div class="media-content">
      
      
    <div class="content">
      <p>
        <strong>{{ comment.user }}</strong> 
        
        <span><strong>님이 작성하신 댓글입니다</strong> </span> 
      </p>
      <p>{{ comment.content }}</p>
    </div>
     
    
    <nav class="level is-mobile">
      <div class="level-left">
        
      </div>
      
    </nav>
  </div>
  
</article>
{% endfor %}

{% endif %}

<!-- comments create start --> 

{% if request.user.is_authenticated %}

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{% static 'icons/icon_user.png' %}">
    </p>
  </figure>
  <div class="media-content">


<form action="" method="POST">
{% csrf_token %}

 {% for field in form %}

    <div class="field">
      <p class="control">
        {{ field }} {{ field.errors }}
      </p>
    </div>


{% endfor %}
    <div class="control">
    <button class="button is-link">댓글쓰기</button>
    <a href="/">
    <button class="button is-link is-light">취소하기</button>
    </a>
  </div>
  

 </form>
    
  </div>
</article>
<!--comments create end --> 

{% else %}

{% endif %}



{% endblock %}