{% extends 'base.html' %}
{% load static %}

{% block title %} 소통실 {% endblock %}


{% block head %} {% endblock %}



{% block content %} 

<h1 class="has-text-link is-size-2 has-text-centered" style="margin-bottom: 50px; margin-top: 100px;">4050특별위원회 소통실</h1>

<!--tabs-->

<div class="columns is-vcentered">
     <div class="column is-2"></div>
     <div class="column is-8">

     <div class="tabs is-centered is-boxed is-small">
  <ul>
  <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fas fa-bullhorn" aria-hidden="true"></i></span>
        <span>공지</span>
      </a>
    </li>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fas fa-calendar" aria-hidden="true"></i></span>
        <span>등록일</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-book" aria-hidden="true"></i></span>
        <span>조회수</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-comments" aria-hidden="true"></i></span>
        <span>댓글</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="far fa-thumbs-up" aria-hidden="true"></i></span>
        <span>좋아요</span>
      </a>
    </li>
  </ul>
</div>

<!--tabs-->


<!-- start of writing form -->

{% if request.user.is_authenticated %}

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{% static 'icons/icon_user.png' %}">
    </p>
  </figure>
  <div class="media-content">


<form action="{% url 'community_page' %}" method="POST">
{% csrf_token %}

<input type="hidden" value="{{ request.user.username }}" id="writer">
<input type="hidden" value="{{ request.user.username }}" id="author">

 {% for field in form %}

    <div class="field">
      <p class="control">
        {{ field }} {{ field.errors }}
      </p>
    </div>


{% endfor %}
    <div class="control">
    <button class="button is-link">글쓰기</button>
    <a href="/">
    <button class="button is-link is-light">취소하기</button>
    </a>
  </div>
  

 </form>
    
  </div>
</article>

{% else %}

<h1 class="has-text-link is-size-6 has-text-centered" style="margin-bottom: 50px; margin-top: 100px;">
글을 입력하시려면, 로그인 해주세요~</h1>

{% endif %}

<!-- end of writing form -->


{% for community_post in community_post %}


<!-- 공지사항 --> 
{% if community_post.is_announcement %}
<article class="media" style="padding-top:10px;">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{% static 'icons/icon_party.png' %}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{ community_post.writer }}</strong> 
        <span style="padding-left: 40px;"><small>{{ community_post.date_created }}<small class="has-text-info" style="margin-left: 20px;"> {% if community_post.lapsed_time < 24 %} &#9;새글입니다{% else %}{% endif %}</small></small> </span>
        <br>
        <span><strong>[공지]</strong> {{ community_post.title|truncatechars:40 }}</span> <span class="icon is-small"> <i class="fas fa-microphone"></i> </span>
      </p>
      <p>{{ community_post.content|truncatechars:60 }}</p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item" href="like/{{ community_post.id }}">
          <span class="icon is-small"><i class="fas fa-thumbs-up"></i></span>
        </a>
        <span>{{ community_post.like_counts }}</span>
        <a class="level-item" style="padding-left: 20px;" href="dislike/{{ community_post.id }}">
          <span class="icon is-small"><i class="fas fa-thumbs-down"></i></span>
        </a>
        <span>{{ community_post.dislike_counts }}</span>
        <a class="level-item" style="padding-left: 20px;">
          <span class="icon is-small"><i class="fas fa-comments"></i></span>
        </a>
        <span>{{ community_post.comments_counts }}</span>

        <a class="level-item" style="padding-left: 20px;">
          <span class="icon is-small"><i class="fas fa-book"></i></span>
        </a>
        <span>{{ community_post.post_views }}</span>
      </div>
      
    </nav>
  </div>
  
</article>
<!-- 공지사항 -->

<!--일반 suggestion --> 

{% else %}




<article class="media" style="padding-top:10px;">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{% static 'icons/icon_user.png' %}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{ community_post.writer }}</strong> 
        <span style="padding-left: 40px;"><small>{{ community_post.date_created }}<small class="has-text-info" style="margin-left: 20px;"> {% if community_post.lapsed_time < 24 %} &#9;새글입니다{% else %}{% endif %}</small></small> </span>
        <br>
        <span><strong>제목:</strong> {{ community_post.title|truncatechars:50 }}</span> 
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item" href="like/{{ community_post.id }}">
          <span class="icon is-small"><i class="fas fa-thumbs-up"></i></span>
        </a>
        <span>{{ community_post.like_counts }}</span>
        <a class="level-item" style="padding-left: 20px;" href="dislike/{{ community_post.id }}">
          <span class="icon is-small"><i class="fas fa-thumbs-down"></i></span>
        </a>
        <span>{{ community_post.dislike_counts }}</span>
        <a class="level-item" style="padding-left: 20px;">
          <span class="icon is-small"><i class="fas fa-comments"></i></span>
        </a>
        <span>{{ community_post.comments_counts }}</span>

        <a class="level-item" style="padding-left: 20px;">
          <span class="icon is-small"><i class="fas fa-book"></i></span>
        </a>
        <span>{{ community_post.post_views }}</span>
      </div>
      
    </nav>
  </div>
  
</article>
<!--일반 suggestion --> 

{% endif %}
{% endfor %}

<div class="columns is-centered has-text-centered mt-5">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
    <ul class="pagination-list">
      <li><a class="pagination-link">Page {{ page_obj.number }} </a> </li> 
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li>of</li> 
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link">{{ page_obj.paginator.num_pages }}.</a></li>
    </ul>
  

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>

    {% endif %}
    </div>
{% comment %} 
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
  </ul> {% endcomment %}



     </div>


     <div class="column is-2"></div>
    </div>  


{% endblock %}
