{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block head %} {% endblock %}


{% block content %} 

<section class="hero is-fullheight is-light">
<div class="hero-body">

<div class="container">


<div class="tile is-ancestor mt-6">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box button is-medium is-fullwidth is-primary">
      <p class="title is-child has-text-white">온라인 가입</p>
    </div>
    <div class="tile is-child box button is-medium is-fullwidth is-info">
      <p class="title has-text-white">소통실</p>
    </div>
    <div class="tile is-child box button is-medium is-fullwidth is-link">
      <p class="title has-text-white">정책제안실</p>
    </div>
    <div class="tile is-child box button is-medium is-fullwidth is-warning">
      <p class="title has-text-white">자료실</p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title has-text-centered"> <img src="{% static 'main.jpeg' %}" width="80%"></p>
    </div>
  </div>
</div>




<div class="columns is-vcentered is-centered" style="margin-top: 20px;">
     
</div>
</div>
</section>

{% endblock %}