{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block head %} {% endblock %}


{% block content %} 

<section class="hero is-fullheight is-light">
<div class="hero-body">

<div class="container">


<div class="tile is-ancestor mt-6">
  <div class="tile is-4 is-vertical is-parent">
  <a href="{% url 'application' %}" class="tile is-child box button is-medium is-fullwidth is-primary">
    {% comment %} <div class="tile is-child box button is-medium is-fullwidth is-primary"> {% endcomment %}
      <p class="title is-child has-text-white mt-1">온라인 가입</p>
    {% comment %} </div> {% endcomment %}
    </a>
    <a href="{% url 'community_page' %}" class="tile is-child box button is-medium is-fullwidth is-info">
    {% comment %} <div class="tile is-child box button is-medium is-fullwidth is-info"> {% endcomment %}
      <p class="title has-text-white mt-1">소통실</p>
    {% comment %} </div> {% endcomment %}
    </a>
    <a href="#" class="tile is-child box button is-medium is-fullwidth is-link">
      <p class="title has-text-white mt-1">정책제안실</p>
    </a>
    <a href="#" class="tile is-child box button is-medium is-fullwidth is-warning">
      <p class="title has-text-white mt-1">자료실</p>
    </a>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title has-text-centered"> <img src="{% static 'main.jpeg' %}" width="80%"></p>
    </div>
  </div>
</div>




<div class="columns is-vcentered is-centered" style="margin-top: 20px;">
     
</div>
</div>
</section>

{% endblock %}